html {
    background-color:darkolivegreen
}

.mainheader {
    padding: 0%;
    margin: 0%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    color:rgb(203, 203, 253);
}

.coverphoto {
    width:30%;
    float: right;
    padding: 1%;
    margin-top: 5%;
    border-radius: 60%;
    margin-right: 10%;
    overflow: hidden;
}

.header {
    width: 40%;
overflow: hidden;
padding-left: 3%;
font-family: 'Courier New', Courier, monospace;
color:rgb(203, 203, 253);
}
.bottons{
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    text-align: right;
    display: flex;
    justify-content:space-around;
    padding: 1%;
    word-spacing: 5%;
    padding-right: 10%;
    color:rgb(203, 203, 253);
}
h1{
    color:rgb(203, 203, 253);
}

.home{
    padding:3%
}
.about{
    padding:3%
}
.projects{
    padding:3%
}
.contact{
    padding:3%
}
.services{
    padding:3%
}
a {  
    color:rgb(203, 203, 253);
    list-style-type: none;
    text-decoration:none; 
    }
a:hover{
        font-weight: bold;
        color: blanchedalmond;
        cursor: pointer;
    }

h2{
    font-size: 200%;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(203, 203, 253);
    margin-left: 7%;
    margin-top: 5%;
}

.text1{
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(203, 203, 253);
    font-size: medium;
    margin: 2%;
    margin-top: 8%;
    margin-left: 7%;
    margin-bottom: 0;
}
   

.p1{
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(203, 203, 253);
    font-size: medium;
    margin-top: 5%;
    float: left;
    margin-left: 29%;
    margin-bottom: 5%;
}


.discover{
    font-weight: bold;
    width: 15%;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(203, 203, 253);
    font-size: medium;
    margin-top: 4%;
    margin-left: 15%;
    background-color: rgb(203, 203, 253);
    border: none;
    color:darkolivegreen;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: left;
    border-radius: 90%;
}